#plinko-area {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 1200px;
    background: black;
}

body {
    background-color: rgb(221, 221, 221);
}

.peg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}