#plinko-area {

    display: block;

    margin: 0 auto;
    width: 50vw;
    height: 80vh;
    position: relative;
}

#plinko-area canvas {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1100px;
}

body {
    background-color: rgb(24, 43, 61);
}

.peg {
    width: 2vw;
    height: 2vh;
    border-radius: 50%;
    background: white;
}

.bounceanim {
    transform: translateY(0);
    transition: transform 0.1s;
}


#dropballbtn {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 350px;

    height: 75px;
    background-color: #00d62e;
    font-size: 30px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.1s ease-in-out;
}

#dropballbtn:hover {
    background-color: #00ff37;
}

#dropballbtn:active {
    transform: scale(0.98);
    transition: transform 0.1 ease-in-out;
}

#money {
    overflow: hidden;  
    text-overflow: ellipsis; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 500px;
    background-color: #112233ff;
    border-radius: 0.5rem;
    height: 5vh;
    width: 25vw;
    font-size: clamp(1rem, 1.5vw, 3rem); 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#moneyinpt {
    outline: none;
    border: 3px, solid rgb(45, 70, 95);
    border-radius: 0.5rem;
    height: 5vh;
    width: 25vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 30px;
    color: white;
    background-color: #112233ff;
    transition: border-color 0.1s ease-in-out;
}

#moneyinpt, #dropballbtn {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}
#moneyinpt:hover {
    border-color: rgb(67, 92, 117);
}
#topbar {
    position: relative;
    padding: 1vh 1vw;
    width: 100%;
    -webkit-box-shadow: 0px 0.5vh 1vh -0.2vh #000000; 
    box-shadow: 0px 7px 15px -2px #000000;
    margin-bottom: 5vh;
    justify-content: center;
    display: flex;
}

#moneyicon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 5vw;
    height: 5vh;
    max-width: 45px;
    max-height: 45px;
    background-color: rgb(0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    position: relative;
    top: 1vh;
    right: 3vw;
    font-size: 30px;
}

#side-bar {
    margin-left: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#Title {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: bold;
    color: white;
    font-size: 50px;
    position: fixed;
    left: 0;
    margin-left: 5vw;

    top: 1%;
}

.container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
}

.moneytitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(164, 181, 199);
    font-size: 120%;
    position: relative;
    margin-right: 9.7vh;
    top: 1.6vh;
}
